
<div class="w-75 mx-auto py-4">
  <h3>Login Now </h3>
  <form (ngSubmit)="Login(loginForm)" [formGroup]="loginForm">
    <div class="alert alert-danger" *ngIf="apiError">
      {{apiError}}
    </div>
    <label for="email">email</label>
    <input formControlName="email" type="email" class="form-control my-2" id="email">
    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
      <h5 *ngIf="loginForm.get('email')?.getError('required')" class="h6">Email is Required</h5>
      <h5 *ngIf="loginForm.get('email')?.getError('email')" class="h6">Email is invalid</h5>
    </div>
   
    <label for="password">password</label>
    <input formControlName="password" type="password" class="form-control my-2" id="password">
    <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
      <h5 *ngIf="loginForm.get('password')?.getError('required')"class="h6">password is Required</h5>
      <h5 *ngIf="loginForm.get('password')?.getError('pattern')"class="h6">password is invalid</h5>
    </div>
   
    <button [disabled]="loginForm.invalid" class="btn btn-info w-100">
      <i *ngIf="loading" class="fas fa-spinner fa-spin" ></i>
      <span *ngIf="!loading">Login</span>
    </button>
  </form>
 




